*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.botaoCont button{
    all: unset;
    text-decoration: none;
    font-weight: 950;
    color: rgba(240, 248, 255, 0.562);
    display: inline-block;
}

h2.title{
    color: aliceblue;
    font-size: 34px;
    text-align: center;
}

h2.title span{
    color:  #9d1220f8;;
}


button:hover{
    color: #9d1220f8;
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.3s;
}

html{
    scroll-behavior: smooth;
}
/* Estilo Cabeçalho*/

header{
    padding: 0.5%;
    background-color: rgba(43, 38, 38, 0.356);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    transition: .2s;
}


header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a{
    color: #9d1220f8;
    font-weight: 700;
    text-decoration: none;
    transition: .2s;
}

header a:hover{
    color: rgb(205, 184, 184);
}

header a img:hover{
    color: #9d1220f8;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 45%;
    
}

header .logo img{
    width: 75px;
    height: 75px;
    margin: 0;
    padding: 0 0;
}

header.rolagem{
    padding: 0% 4%;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 100;
    border-bottom: 1px solid #ffffff8c;
    background-color: #5b0e16;
    transition: .4s;
}

header.rolagem a{
    color: rgb(205, 184, 184);
    text-decoration: none;
    transition: .2s;
}

header.rolagem a:hover{
    color: #9d1220f8;
}

header.rolagem a img:hover{
    color:rgb(205, 184, 184);
    transform: scale(1.05);
}

/* Estilo topo */

#topoSite{
    background-color: black;
    padding: 50px 4%;
    position: relative;
    margin-top: 190px;
}

#topoSite .flex{
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#topoSite h1 {
    color: aliceblue;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 70px;
}

#topoSite .textTopoSite h1 span{
    color: #9d1220f8;
}

#topoSite .textTopoSite p{
    color: aliceblue;
    margin: 6% 0;
    font-weight: 500;
    text-align: justify;
}



#topoSite .imgTopoSite img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 500px;
    height: 470px;
    margin: 0;
}

#topoSite .botaoCont{
    margin-top: 6%;
}

@keyframes flutuar {
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}

/*Estilo conquistas*/

#especialidades{
    padding: 9% 0;
    margin: 2% 0;
  
}

#especialidades .flex{
    display: flex;
    gap: 80px;
    justify-content: space-around;
}

#especialidades .especialidadesBox{
    color: aliceblue;
    padding: 25px;
    border-radius: 20px;
    margin-top: 80px;
    transition: .2s;
    text-align: justify;
    justify-content: space-around;
    justify-content: space-between; /* Para distribuir o conteúdo interno */
    flex: 1; /* Para que todos os itens tenham a mesma altura */
}

#especialidades .especialidadesBox:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 2px 1px #9d1220f8; 
}

#especialidades .especialidadesBox i{
    font-size: 55px;
    color: #9d1220f8;
}

#especialidades .especialidadesBox h3{
    font-size: 27px;
    margin: 20px 0;
    
}

/* Estilo sobre */

#sobre{
    padding: 7% 4%;
}

#sobre .flex{
    align-items: center;
    gap: 60px;
    
}

.imgSobre img{
    width: 400px;
    height: 500px;
    margin: 0;
    border-radius: 2%;
}

#sobre .txt-sobre{
    color:aliceblue;
}

#sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 50px;
}

#sobre .txt-sobre h2 span{
    color: #9d1220cb;
    display: block;
}

#sobre .txt-sobre p{
    margin: 40px 0;
    text-align: justify;
}

#sobre .txt-sobre .btnSocial button{
    all: unset;
    width: 60px;
    height: 60px;
    display: inline-block;
    color: rgba(240, 248, 255, 0.562);
    cursor: pointer;
    font-size: 40px;       
}

#sobre .txt-sobre .btnSocial button:hover{
    color: #9d1220f8;
    transform: scale(1.05);
    transition: 0.2ms;
}

/* Estilo numeros */

#numeros{
    padding: 7% 0;
}

#numeros .flex{
    display: flex;
    gap: 80px;
    justify-content: space-around;
}

#numeros .textNumeros{
    color:aliceblue;
}

#numeros .textNumeros p{
    margin: 60px;
    text-align: justify;
    font-weight: 600;
}

#numeros .textNumeros .ListaNumeros li{
    margin-bottom: 20px;
    font-size: 15px;  
    font-weight: 800;
}

.ListaNumeros li span{
    color: #9d1220cb;
    font-weight: 700;
}

/* Estilo rodapé */

#rodapeContent {
    width: 100%;
    background-color: #5b0e16;
    border-top: 1px solid #ffffff8c;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 6%;
}


#rodapeSocial p{
    color: aliceblue;
    font-weight: 600;
}

#rodapeInput{
    display: flex;
    color: aliceblue;
    font-weight: 500;
    gap: 10px;
    text-align: justify;
    flex-direction: column;
}

#inputGroup{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 2px;
    
}

#inputGroup input{
    all: unset;
    padding: 1%;
    width: 100%;
}

#inputGroup button{
    background-color: black;
    border: none;
    color: aliceblue;
    padding: 0% 4%;
    height: 100%;
    font-size: 15px;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
    
}

#rodapeSocial .rodapeBtn{
    display: flex;
    gap: 10px;
    padding: 4% 0%;
    justify-content:baseline;
}

#rodapeSocial .rodapeBtn button{
    all: unset;
    color: aliceblue;
    background-color: #5b0e16;
    font-size: 30px;
}

#rodapeCopyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    font-weight: 100;
    width: 100%;
    padding: 3px;
    font-size: small;
}
    

@media screen and (max-width: 768px){

    #topoSite {
        margin-top: 100px;
    }

    #topoSite .flex{
        flex-direction: column;
        padding: 5%;
    }

    h2.title{
        margin-top: 5%;
    }

    #especialidades .flex{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 5%;
        gap: 0;
        justify-content: space-between;
    }

    #sobre .flex{
        flex-direction: column-reverse;
        padding: 5%;
    }

    #numeros .flex{
        flex-direction: column;
        padding: 5%;
    }

    #numeros .textNumeros .ListaNumeros{
        padding: 0% 13%;
    }

    #rodapeContent{
        gap: 10%
    }
}


@media screen and (max-width: 426px){

    #topoSite .imgTopoSite img{
        width: 370px;
        height: 340px;
    }

    #especialidades .flex{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10%;
        gap: 0;
        justify-content: space-between;
    }

    h2.title{
        padding: 5%;
        text-wrap: wrap;
        margin-top: 5%;
    }

    #sobre .flex{
        padding: 5%;
    }

    #sobre .imgSobre img{
        width: 300px;
        height: 400px;
        margin: 0;
        border-radius: 2%;
    }

    #numeros .textNumeros p{
        padding: 0%;
        margin: 10%;
    }

    #rodapeContent{
        grid-template-columns: repeat(1, 1fr);
        padding: 5%
    }

}