*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --border: 2px solid #ffffff8c;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.botaoCont button{
    all: unset;
    text-decoration: none;
    font-weight: 850;
    color: rgba(240, 248, 255, 0.562);
    display: inline-block;
}

.botaoCont button:hover{
    color: #9d1220f8;
    text-decoration: none;
    transform: scale(1.05);
}

/* Estilo Cabeçalho*/

header{
    padding: 1.5% 4%;
    background-color: #4e121859;
    border: var(--border);
    border-inline: none;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgba(240, 248, 255, 0.562);
    text-decoration: none;
    transition: .2s;
}

header a:hover{
    color: #9d1220f8;
    transform: scale(1.05);
}


header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 35%;
}

header .logo img{
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0 0;
}


/* Estilo topo */

section.topoSite{
    padding: 40px 4%;
}

section.topoSite .flex{
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.topoSite h1 {
    color: aliceblue;
    font-size: 42px;
    line-height: 40px;

}

.topoSite .textTopoSite h1 span{
    color: #9d1220f8;
}

.topoSite .textTopoSite p {
    color: #fff;
    margin: 6% 0;
}

.topoSite .imgTopoSite img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 500px;
    height: 470px;
    margin: 0;
}

@keyframes flutuar {
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}